* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}

/*Header */
.main-head {
  max-width: 1340px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.main-head a {
  text-decoration: none;
  color: black;
}
.main-head li a {
  padding-top: 30px;
}
.main-head .inscription:hover {
  color: #0065fc;
  font-weight: 700;
}
.main-head li a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  width: 230px;
  justify-content: space-between;
  list-style: none;
}
.inscription {
  width: 130px;
  text-align: right;
}
/* Recherche*/
main {
  max-width: 1340px;
  margin: auto;
}
#hero {
  padding-top: 45px;
}
#hero p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(66, 66, 66, 0.9);
  padding-top: 10px;
}
#search-bar {
  height: 80px;
  max-width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gps {
  height: 55px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #f2f2f2;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
.location input {
  height: 55px;
  width: 240px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  border: 2px solid #f2f2f2;
}
.search {
  height: 55px;
  width: 140px;
  color: white;
  background: #0065fc;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border: 2px solid #0065fc;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.options {
  height: 75px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#filtre {
  display: flex;
}
#filtre--btn {
  display: flex;
  align-items: center;
  justify-items: center;
  border: 2px solid #f2f2f2;
  height: 55px;
  min-width: 200px;
  background: white;
  border-radius: 25px;
}
#blue {
  color: #0065fc;
  background: #deebff;
  padding: 19px;
  border-radius: 100%;
  font-size: 20px;
}
.info {
  display: flex;
  align-items: center;
}
.info i {
  font-size: 20px;
  margin: 20px 10px 10px 10px;
  background: #0065fc;
  color: white;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  padding: -2px;
}
#hebergements {
  max-width: 1340px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
#liste {
  flex: 2 0 400px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 20px;
  margin-right: 40px;
}
#most-popular {
  flex: 1 0 100px;
  max-height: 680px;
  background: #f2f2f2;
  border-radius: 20px;
}
#liste img {
  object-fit: cover;
  min-width: 240px;
  max-height: 115px;
  padding: 5px 5px 0px 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#most-popular img {
  object-fit: cover;
  width: 130px;
  height: 130px;
  padding: 5px 5px 0px 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#liste h3 {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 40px;
  font-size: 20px;
}
#liste .more {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 700;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 15px;
}
.menu h4 {
  font-size: 15px;
  padding-left: 10px;
}
.menu p {
  font-size: 12px;
  padding: 10px 0px 0px 10px;
  color: #585858;
}
#liste a {
  text-decoration: none;
  color: black;
}
#liste a:hover {
  color: #0065fc;
}
.stars {
  font-size: 10px;
  padding: 10px;
}
.stars .light {
  color: #0065fc;
}
.stars .dark {
  color: #d6d3d3;
}
.room {
  background: white;
  margin-top: 25px;
  margin-left: 0px;
  border-radius: 20px;
  box-shadow: 3px 3px 1px 1px rgba(179, 173, 173, 0.2),
    5px 5px 3px 3px rgba(179, 173, 173, 0.1);
}
.rooms {
  display: flex;
  background: white;
  border-radius: 20px;
  margin: 0px 30px 30px 30px;
}
.menus a {
  text-decoration: none;
  color: black;
}
.menus-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
}
.menus h4 {
  padding-left: 15px;
  padding-top: 15px;
}
.menus p {
  padding-left: 15px;
  font-size: 15px;
  color: #585858;
}
.menus .stars {
  padding-top: 35px;
  padding-left: 15px;
}
#activites {
  height: 570px;
  display: flex;
  flex-direction: column;
}
.patchwork {
  display: flex;
  justify-content: space-between;
}
.patchwork--two,
.patchwork--four {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.patchwork h4 {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.gallery {
  box-shadow: 3px 3px 1px 1px rgba(179, 173, 173, 0.2),
    5px 5px 3px 3px rgba(179, 173, 173, 0.1);
  border-radius: 20px;
}

.gallery1,
.gallery4 {
  height: 400px;
}
.gallery2 {
  height: 180px;
}
.gallery3 {
  height: 110px;
}
.gallery5,
.gallery6 {
  height: 140px;
}

.gallery img {
  width: 305px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer {
  height: 220px;
  width: 1440px;
  margin: auto;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer {
  width: 30%;
  padding-left: 50px;
}
footer h3 {
  font-size: 20px;
  padding-top: 40px;
}
footer ul {
  font-size: 16px;
  list-style: none;
  padding: 15px 0px;
}
footer li {
  padding: 7px 0px;
}

footer a {
  text-decoration: none;
  color: #585858;
  font-weight: 500;
}
footer a:hover {
  color: #0065fc;
}
