* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
header,
body {
  width: 90vw;
  margin: auto;
}
#main-head {
  display: flex;
  padding-top: 1vh;
  justify-content: space-between;
}
.main-head__inscription {
  color: #0065fc;
  font-weight: 700;
  text-decoration: none;
}
.mobile {
  display: none;
}
nav ul {
  width: 30vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  padding: 4vh 3vh 0vh 3vh;
}
nav ul li:hover {
  border-top: 2px solid #0065fc;
}
.main-head__nav {
  text-decoration: none;
  color: rgb(92, 91, 91);
}
#main-head__logo {
  width: 7vw;
  padding: 3vh 0vh;
}

.hero__head {
  color: rgb(92, 91, 91);
  padding-top: 1vh;
}
.hero__search-bar {
  display: flex;
  padding: 2vh 0vh;
}
.hero__search-bar .gps {
  background: #f2f2f2;
  height: 6vh;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.hero__search-bar input {
  height: 6vh;
  padding-left: 2vh;
  font-weight: 700;
  font-size: 1rem;
  border: 2px solid #f2f2f2;
}
.hero__search-bar .search {
  width: 7vw;
  background: #0065fc;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.hero__options {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 0vh;
}
.hero__options h3 {
  width: 5vw;
  display: flex;
  align-items: center;
}
.hero__options__filtre {
  width: 57vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero__options__filtre__btn {
  height: 5vh;
  width: auto;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 2px solid #f2f2f2;
  background: white;
  padding: 0vh 1vh 0vh 0vh;
  transition: all 0.3s ease;
}
.hero__options__filtre__btn:hover {
  background: #deebff;
}
.hero__options__filtre__btn p {
  padding: 0vh 1vh 0vh 1.8vh;
  color: black;
}
.hero__options__filtre__btn i {
  background: #deebff;
  padding: 1.3vh;
  border-radius: 100%;
  color: #0065fc;
}
.hero__info {
  padding-top: 1vh;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
}
.hero__info i {
  font-size: 1.3rem;
  margin-right: 2vh;
  color: white;
  background: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
}
#rooms {
  border-radius: 25px;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap-reverse;
}
#rooms__liste {
  background: #f2f2f2;
  border-radius: 25px;
  width: 59vw;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
#rooms__liste h3 {
  padding: 2rem 0rem 0rem 2rem;
}
.room {
  background: white;
  border-radius: 20px;
  margin: 1.3rem;
  flex: 1 1 250px;
}
.room__name {
  text-decoration: none;
  color: black;
}
.room__description {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.room__description h4:hover {
  color: #0065fc;
}
.room__description p {
  color: rgb(92, 91, 91);
}
.stars {
  color: #0065fc;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}
.dark {
  color: #c5c2c2;
}
.rooms__liste__more {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.rooms__liste__more:hover {
  color: #0065fc;
}

#rooms__liste__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#rooms__liste img {
  width: 100%;
  height: 17vh;
  object-fit: cover;
  padding: 0.3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#rooms__popular {
  width: 29vw;
  border-radius: 25px;
  background: #f2f2f2;
}
#rooms__popular__head {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
#rooms__popular__details .room {
  display: flex;
  height: 15vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#rooms__popular img {
  width: 10vw;
  height: 100%;
  padding: 0.3rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#activity {
  height: 50vh;
}
#activity img {
  width: 30vh;
}
#activity__patchwork {
  display: flex;
}
footer {
  width: 100vw;
  height: 40vh;
}
